
#contentbar {
	background-color: #b0c2d6;
	width: 100%;
	height: 50px;
	position: relative;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
	color: #133b56;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}


#lob, #shelf {
	margin-right: 20px;
}

#lob, #tough{
	margin-bottom: 20px;
	margin-top: 10px;
}

h2{
	padding-top: 5px;
}