/* import the site's font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
em / rem reminder:
	em is calculated relative to the font-size of its parent element.
		ex. a parent <div> has a font-size of 16px,
		2em inside that <div> equals 32px.

		use it for things like button padding or borders that
		should scale proportionally to its text size.
	
	rem is calculated relative to the font-size of the root <html> element.
		ex. the default font-size of <html> is 16px by default,
		therefore 2rem is 32px.

margin / padding reminder:
	margin is the space outside the border that pushes other elements away
		- outside the element
		- completely transparant
		- not clickable
		- used for things like gaps between blocks or centering boxes

	padding is the space between an element's content and border
		- inside the element
		- clickable
		- background images and colors extend into the padding area

override reminder:
	CSS has a specificity scoring system used when there's a conflict
	in style settings.
		ex: * has the lowest score of (0,0,0)
		p has a score of (0, 0, 1), so it takes preference

syntax reminder:
	CSS elements can be combined via a space in HTML,
	which shows as a period in CSS.

<html> reminder:
	margin settings do not get passed to <body> automatically

speed reminder:
	* can sometimes slow pages down.
	let's try to avoid it.

overflow: hidden; /* Cut off overflowing elements. Can't scroll to see them.
*/


/*
Call this with var(--custom-blue).
*/
:root {
	--desktop-spacing: 20%;
	--tablet-spacing: 10%;
	--mobile-spacing: 3%;
	--font-serif: "PT Serif", serif;
	--font-sans-serif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--card-padding-hor: 1em;
	--card-padding-ver: 0.1em; /* Padding calculates from the "straight" of a rounded rectangle. This squares it off. */
	--desktop-shadow: 0.5em 0.5em 0.25em 0 rgba(0, 0, 0, 0.3); /* (offsetX, offsetY, sharpness, spread-radius, color) */
	--mobile-shadow: 0.25em 0.25em 0.125em 0 rgba(0, 0, 0, 0.3); /* (offsetX, offsetY, sharpness, spread-radius, color) */
}

html, body {
	font-size: 1.1em;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: SlateGray;
	font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-sans-serif);
}

header {
	display: flex; /* place items side-by-side */
	align-items: center; /* vertically center items */

	background-color: White;
	box-shadow: var(--desktop-shadow);

	padding-left: var(--desktop-spacing);
	padding-right: var(--desktop-spacing);
	padding-top: 1em;
	padding-bottom: 1em;

	margin-bottom: 1em;
}

header a img.logo-desktop { height: 3em; width: auto; }
header a img.logo-mobile { display: none; }

main {
	flex: 1; /* Push the footer down if the content is short. */
	margin-left: var(--desktop-spacing);
	margin-right: var(--desktop-spacing);
}

.card {
	background-color: White;
	border-radius: 1em; /* Round the corners of the card. */
	box-shadow: var(--desktop-shadow);
	padding-left: var(--card-padding-hor);
	padding-right: var(--card-padding-hor);
	padding-top: var(--card-padding-ver);
	padding-bottom: var(--card-padding-ver);
}

footer {
	background-color: #2C3741;
	color: White;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Position all slides in the exact same spot (stacked) */
.slide {
	position: absolute;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

/* The active slide is visible and sits on top */
.slide.active {
	opacity: 1;
	z-index: 2;
}

/* TABLETS */
@media (max-width: 768px) {
	header {
		padding-left: var(--tablet-spacing);
	}

	.header-links nav a {
		font-size: 1rem;
		padding: .75em;
	}

	header a img.logo-desktop { /* This is the desktop header logo. */
		height: 2.5em;
		width: auto;
	}

	main {
		margin-left: var(--tablet-spacing);
		margin-right: var(--tablet-spacing);
	}
}

/* MOBILE */
@media (max-width: 375px) {
	header {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: var(--mobile-spacing);
		box-shadow: var(--mobile-shadow);
	}

	header a img.logo-desktop { /* This is the desktop header logo. */
		display: none;
	}

	header a img.logo-mobile { /* This is the desktop header logo. */
		height: 3em;
		display: inline;
	}

	footer {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	main {
		margin-left: var(--mobile-spacing);
		margin-right: var(--mobile-spacing);
	}

	.card {
		box-shadow: var(--mobile-shadow);
	}
}
/*
Things I've learned:
- * vs html
- Headers and footers have built in tags, no need to create custom div classes.
- Margins are not auto-inheretid the same way font-family or color is.
- * however, is too costly for a speedy website.
- because the browser evaluates it for every element on the page.
- Using CSS custom properties as native variables
- Keep your images in evenly-divided aspect ratios
*/