/* import the site's font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*
em / rem reminder:
	em is calculated relative to the font-size of its parent element.
		ex. a parent <div> has a font-size of 16px,
		2em inside that <div> equals 32px.

		use it for things like button padding or borders that
		should scale proportionally to its text size.
	
	rem is calculated relative to the font-size of the root <html> element.
		ex. the default font-size of <html> is 16px by default,
		therefore 2rem is 32px.

margin / padding reminder:
	margin is the space outside the border that pushes other elements away
		- outside the element
		- completely transparant
		- not clickable
		- used for things like gaps between blocks or centering boxes

	padding is the space between an element's content and border
		- inside the element
		- clickable
		- background images and colors extend into the padding area

override reminder:
	CSS has a specificity scoring system used when there's a conflict
	in style settings.
		ex: * has the lowest score of (0,0,0)
		p has a score of (0, 0, 1), so it takes preference

syntax reminder:
	CSS elements can be combined via a space in HTML,
	which shows as a period in CSS.

<html> reminder:
	margin settings do not get passed to <body> automatically

speed reminder:
	* can sometimes slow pages down.
	let's try to avoid it.

overflow: hidden; /* Cut off overflowing elements. Can't scroll to see them.

<details>
	<summary> Epcot Center </summary>
	<p> Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events. </p>
</details>

*/

:root { /* Call this with var(--the variable's name). */
	--desktop-spacing: 20%;
	--tablet-spacing: 10%;
	--mobile-spacing: 3%;
	--font-serif: "PT Serif", serif;
	--font-sans-serif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--card-padding-hor: 1em;
	--card-padding-ver: 0.1em; /* Padding calculates from the "straight" of a rounded rectangle. This squares it off. */
	--desktop-shadow: 0.5em 0.5em 0.25em 0 rgba(0, 0, 0, 0.3); /* (offsetX, offsetY, sharpness, spread-radius, color) */
	--mobile-shadow: 0.25em 0.25em 0.125em 0 rgba(0, 0, 0, 0.3); /* (offsetX, offsetY, sharpness, spread-radius, color) */
}

html, body {
	font-size: 1.1em;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: SlateGray;
	font-family: var(--font-serif);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-sans-serif);
}

h1 { /* For some reason, spacing on h1 specifically seems to be off. */
	line-height: 1.2em;
}

blockquote {
	color: SaddleBrown;
	background-color: AntiqueWhite;
	padding: 1em;
	border-radius: 1em;
}

/* ######################################################################################################################## */

header {
	box-shadow: var(--desktop-shadow);
	margin-bottom: 1em;
}

.menu {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	background: darkslategray;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	width: fit-content;
	color: White;
	font-weight: bold;
	font-size: 32px;
	padding: 15px;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}

#menu {
	display: none; /* hide checkbox */
}

.logo label {
	display: none;
}

.items {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item {
	width: 100px;
	padding: 10px 18px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5mm;
	font-size: 16px;
	color: white;
}

.item:hover {
	background: gray
}

/* ######################################################################################################################## */

main {
	flex: 1; /* push the footer down if the content is short */
	margin-left: var(--desktop-spacing);
	margin-right: var(--desktop-spacing);
}

.card {
	background-color: White;
	border-radius: 1em; /* round the corners of the card */
	box-shadow: var(--desktop-shadow);
	padding-left: var(--card-padding-hor);
	padding-right: var(--card-padding-hor);
	padding-top: var(--card-padding-ver);
	padding-bottom: var(--card-padding-ver);
}

footer {
	background-color: #2C3741;
	color: White;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* stack all slides on top of one another */
.slide {
	position: absolute;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}

/* make the active slide visible and on top of the pile */
.slide.active {
	opacity: 1;
	z-index: 2;
}

/* make data tables have centered text. */
th, td {
	text-align: center;
}

/* TABLETS */
@media (max-width: 768px) {
	main {
		margin-left: var(--tablet-spacing);
		margin-right: var(--tablet-spacing);
	}
}

/* MOBILE */
@media (max-width: 375px) {
	footer {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	main {
		margin-left: var(--mobile-spacing);
		margin-right: var(--mobile-spacing);
	}

	.card {
		box-shadow: var(--mobile-shadow);
	}

	th, td {
		font-size: 0.7em; /* Ensure tables can fit on mobile screens. */
	}

	/* ######################################################################################################################## */

	.menu {
		flex-direction: column; /* This puts the logo at the top center and the clickables below, evenly spaced. */
	}

	.menu .logo {
		width: 100%;
	}

	.menu .logo label {
		display: block;
		cursor: pointer;
		position: relative;
		width: 30px;
		height: 30px;
	}

	.menu .logo label::before {
		position: absolute;
		content: "menu";
		font-family: "Material Icons";
		top: 0;
		left: 0;
		font-size: 30px;
	}

	.menu .items {
		width: 100%;
		flex-direction: column;
		max-height: 0;
		overflow: hidden;
		transition: 0.25s;
	}

	.menu .item {
		width: 100%;
		padding: 15px;
		border-radius: 0;
		border-top: 0.5mm solid Black;
	}

	/* Set the height of the items when checked */
	#menu:checked ~ .items {
		max-height: 500px;
	}

	#menu:checked ~ .logo label::before {
		content: "close";
	}

	/* ######################################################################################################################## */

}
/*
Things I've learned:
- * vs html
- Headers and footers have built in tags, no need to create custom div classes.
- Margins are not auto-inheretid the same way font-family or color is.
- * however, is too costly for a speedy website.
- because the browser evaluates it for every element on the page.
- Using CSS custom properties as native variables
- Keep your images in evenly-divided aspect ratios
*/